[submodule "rust/lc2k_as"]
	path = rust/lc2k_as
	url = git@github.com:joebb97/lc2k_as.git
[submodule "rust/echo_net"]
	path = rust/echo_net
	url = git@github.com:joebb97/rust_echo_net.git
[submodule "elm/sudoku"]
	path = elm/sudoku
	url = git@github.com:joebb97/elm_sudoku.git
[submodule "go/src/echo_net"]
	path = go/src/echo_net
	url = git@github.com:joebb97/go_echo_net.git
[submodule "go/src/echo_net_hc"]
	path = go/src/echo_net_hc
	url = git@github.com:joebb97/go_echo_net_hc.git
[submodule "go/src/iperf"]
	path = go/src/iperf
	url = git@github.com:joebb97/go_iperf.git
