*
!*/
!*.*
!Makefile
*.swp
.color_coded
*.ycm
*.exe
.DS_Store
.ycm*
*.o
*.out
*.pyc
cpp/sorts/.idea/
cpp/sorts/cmake-build-debug/
java/cryptography_compression/bin/
java/sorts/.project
python/.idea
java/.classpath
java/.project
python/deepfield/
go/bin/
go/pkg/
