body {
    background-color: #FAFAFA
}

table, button {
    margin: 10px; 
}

p {
    margin: 10px
}

.immutable {
    color: red;
}

.mutable {
    color: black;
}

tr:first-child td {
    border-top-color: black;
}
tr:nth-child(3n) td {
    border-bottom-color: black;
}
td {
    border: 1px solid lightgrey;
    height: 40px;
    width: 40px;
}
td:first-child {
    border-left-color: black;
}
td:nth-child(3n) {
    border-right-color: black;
}
input {
    padding: 0;
    text-align: center;
    border: 0;
    height: 40px;
    width: 40px;
    margin: 0;
}

input:hover {
    background: #eee;
}
